<form
  class="d-flex flex-column text-center w-25 justify-content-center align-items-start px-2 py-4 mx-auto shadow mt-5"
>
  <h1>Şifre Oluşturucu</h1>
  <div class="mb-3 text-start w-100">
    <label for="exampleInputEmail1" class="form-label my-2">Şifre Uzunluğu</label>
    <input
      (change)="modifyLength($event.target)"
      type="text"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="mb-3 form-check text-start">
    <input
      (change)="modifyLetters()"
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
    />
    <label class="form-check-label" for="exampleCheck1">Alfabeyi Kullan</label>
    <br />
    <input
      (change)="modifyNumbers()"
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
    />
    <label class="form-check-label" for="exampleCheck1">Sayilari Kullan</label>
    <br />
    <input
      (change)="modifySymbols()"
      type="checkbox"
      class="form-check-input"
      id="exampleCheck1"
    />
    <label class="form-check-label" for="exampleCheck1"
      >Sembolleri Kullan</label
    >
  </div>
  <button 
    (click)="buttonClick()"
    [disabled]="
      !(length && (includeLetters || includeNumber || includeSymbols))
    "
    type="button"
    class=" bg-primary py-2 btn w-100 "
  >
    Oluştur
  </button>
  <div class="mb-3 text-start w-100 mt-3" *ngIf="password">
    <label for="exampleInputPassword1 " class="form-label">Şifreniz</label>
    <input [value]="password" type="text" class="form-control" id="exampleInputPassword1" />
  </div>
</form>
